/*defining body style*/
body {
    background-image: url(log6.jpg);
    background-size: 300%;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

/*form styles*/
.form2 {
    width: 250px;
    padding: 20px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: transparent;
    text-align: center;
    

}

.form2 h1{
    color: white;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 40px;
    text-align: center;

}

.form2{
    color: white;

}

.form2 input[type="text"],.form2 input[type="email"],.form2 input[type="number"],.form2 input[type="password"]{
    border: 0;
    background: none;
    display: ruby-base;
    margin: 20px auto;
    text-align: center;
    border:2px solid whitesmoke;
    padding:8px 4px;
    width: 150px;
    outline: none;
    color: white;
    border-radius: 20px;
    transition: 0.25px;
}


.form2 input[type="text"],.form2 input[type="email"],.form2 input[type="number"],.form2 input[type="password"]{

    width: 190px;
    border-color: rgb(0, 0, 0);

}


.form2 input[type="submit"]{
    border: 0;
    background-color: rgba(0, 0, 0, 0.842);
    display:inline-table;
    margin: 15px auto;
    text-align: center;
    border:2px solid rgb(0, 0, 0);
    padding:10px 20px;
    width: 100px;
    outline: none;
    color: rgb(255, 254, 254);
    border-radius: 25px;
    transition: 0.25px;
    cursor:pointer;

}

/*link for signup*/
a:visited{
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
  }

